
<div *ngIf="!name" class="connect-section">
  <h2 class="connect-head">Connect to chat</h2>
  <div class="ui-inputgroup connect-inputs">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Your name" class="user-name" #userName> 
      <button type="button" class="connect-btn" pButton label="Connect" (click)="startConnection(userName)"></button>     
  </div>
</div>
<div *ngIf="name">
  <p>Connected as: <strong>{{name}}</strong></p>
  <button type="button" class="disconnect-btn" pButton label="Disconnect" (click)="stopConnection()"></button>           
</div>
<!--<input type="button" (click)="startConnection()" value="connect">-->

<div class="chat-here ui-md-4 ui-g-12 ui-fluid" *ngIf="name">
  <h2>live Chat</h2>
  <div class="chat-wrap ui-g-12">
    <div class="messages-section">
      <ul *ngIf="messagesList.length > 0" class="messages-list">
        <li *ngFor="let messageItem of messagesList" class="message-item"
            [ngClass]="{ 'active': name == messageItem.from }">
            <span class="message-author">{{messageItem.from}}</span>
            <p class="message-text">{{messageItem.message}}</p>
            <span class="message-time">{{messageItem.time}}</span>
        </li>
      </ul>
    </div>
    <div class="interactive-section ui-g-12 ui-inputgroup" >
        <input type="text" pInputText placeholder="Message" class="message-input ui-md-10 ui-g-12"[(ngModel)]="messageText"> 
        <button type="button" class="connect-btn ui-md-2 ui-g-12" pButton label="Send" (click)="sendMessage()"></button>        
    </div>
  </div>
</div>